@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Doppio+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* global styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Blinker;
}

html {
  scroll-behavior: smooth;
}

:root {
  --prime: black;
  --primal: lime;
  --primess: yellow;
}

body {
  background-color: var(--prime);
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  transition: 600ms ease;
}
a:hover {
  color: var(--primal);
  scale: 0.9;
}

span {
  color: var(--primal);
}

.row {
  width: 1024px;
  height: 100%;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  border: 1px dashed white;
}

.container {
  height: 100%;
  width: 100%;
  padding: 80px 0;
}

/* Landing nav */

nav {
  height: 100px;
  width: 100%;
}

.nav__container {
  margin: 0 auto;
  width: 1024px;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__links {
  display: flex;
  gap: 30px;
}

.nav__logo__title__wrapper {
  border: 1px dashed white;
  border-radius: 30px 1px 20px 1px;
  padding: 20px;
  position: relative;
  width: 200px;
  height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.nav__logo__title {
  color: white;
  font-size: 28px;
  font-weight: 700;
  width: fit-content;
}

.nav__logo__title__wrapper:hover .nav__logo__title {
  color: var(--primess);
  animation: spin 1000ms ease;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.primal {
  color: var(--primal);
}
.signup {
  position: absolute;
  right: 46px;
  top: 100px;
  padding: 6px 20px;
  background-color: black;
  border: 1px dashed white;
  color: var(--primal);
  cursor: pointer;
  transition: 300ms ease;
}
.signup:hover {
  color: white;
  border-color: var(--primal);
}

/* header */

.header__box {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 20px 0;
}

.header__row {
  border-radius: 1px 20px 1px 20px;
}

/* about */

.about__row {
  display: flex;
  transition: 600ms ease;
  padding-right: 0;
  height: 400px;
  border-bottom: none;
}
.about__row:hover,
.features__row:hover {
  border-color: var(--primal);
}
.about__row:hover .about__left {
  border-color: var(--primal);
}
.about__right__img__wrapper:hover {
  filter: invert();
}

.about__left {
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 10px 30px;
  border-right: 1px dashed white;
  transition: 600ms ease;
}

.about__title {
  margin-top: 20px;
}
.about__para {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  width: 100%;
  max-width: 100%;
}

.about__right__img__wrapper {
  width: 50%;
  overflow: hidden;
  transition: 600ms ease;
}
.about__right__img {
  padding-right: 0;
  width: 100%;
  height: 100%;
  filter: invert();
}

/* features */

.features__row {
  border-top: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  color: white;
  transition: 600ms ease;
}

.features__title {
  font-size: 22px;
  transition: 600ms ease;
}
.features__title:hover {
  color: yellow;
}

.features__para {
  font-size: 26px;
  font-weight: 300;
  max-width: 700px;
}

.features__span {
  font-size: 14px;
  max-width: 400px;
  color: white;
  transition: 600ms ease;
}
.features__span:hover {
  color: var(--primal);
}

.features__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 20px;
}

/* feature */

.feature {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed white;
  border-radius: 30px 1px 20px 1px;
  padding: 20px;
  transition: 600ms ease;
}
.feature:hover {
  scale: 1.1;
  border-color: var(--primal);
}

.feature__icon {
  width: 100px;
  margin-bottom: 10px;
}

.feat-icon {
  width: 100%;
  font-size: 30px;
  color: var(--primal);
}

/* (landing) footer */

.footer__row {
  color: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer__span {
  font-size: 24px;
  transition: 600ms ease;
  padding-bottom: 20px;
  border-bottom: 2px dashed white;
}
.footer__span:hover {
  color: var(--primess);
}

.footer__para {
  font-size: 26px;
  transition: 600ms ease;
}
.footer__para:hover {
  color: var(--primal);
}

.footer__buttons {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.footer-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 300;
  background-color: black;
  color: var(--primess);
  border: 2px dashed white;
  border-radius: 10px 10px 0 0;
  transition: 600ms ease;
}

.footer-btn:hover {
  color: var(--primal);
  border-radius: 0 0 10px 10px;
}

.footer__span-2 {
  margin-top: 60px;
  font-size: 13px;
  color: white;
  display: flex;
  align-items: center;
}
.foot-icon {
  color: var(--primal);
  font-size: 20px;
  margin-right: 6px;
}

.foot-span {
  margin-left: 3px;
}

.footer-xtra {
  border-top: 1px dashed white;
}

.footer__row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-top: 16px;
  padding: 0 30px;
}

.footer__title {
  font-size: 26px;
  font-weight: 500;
}

/* Login Form */

.register {
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease;
}

.register.registerActive {
  visibility: visible;
  opacity: 1;
}

.login__container {
  padding: 0;
}

.login__row {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.login__form {
  position: relative;
}

.login__form__close {
  position: absolute;
  right: 30px;
  border: 1px dashed white;
  background-color: transparent;
  color: white;
  padding: 6px;
  transition: 400ms ease;
  cursor: pointer;
}
.login__form__close:hover {
  border-color: red;
}
.login__form-icon {
  transition: 400ms ease;
}
.login__form__close:hover .login__form-icon {
  scale: 1.3;
}

.login__form {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: black;
  padding: 30px;
  text-align: center;
  align-items: center;
  border: 1px dashed;
  border-radius: 60px 0 60px 0;
  border-left-color: var(--primal);
  border-right-color: var(--primal);
  border-top-color: yellow;
  border-bottom-color: white;
  transition: 600ms ease;
  z-index: 99;
}

.login__form:hover {
  border-radius: 0 60px 0 60px;
  border-left-color: white;
  border-right-color: white;
  border-top-color: var(--primal);
  border-bottom-color: var(--primal);
}

.login__form__title {
  max-width: 500px;
  font-weight: 300;
}

.login__form__input {
  width: 300px;
  max-width: 100%;
  height: 40px;
  padding: 10px;
  outline: none;
  border: 1px dashed white;
  border-radius: 10px 10px 0 0;
  background-color: transparent;
  color: white;
  transition: 600ms ease;
  cursor: pointer;
}

.login__form__span-2 {
  display: flex;
  gap: 10px;
  font-size: 15px;
}

.login__form__span-2__btn {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.login__form__input:hover {
  border-color: var(--primal);
  border-radius: 0;
}

.login__form__input:focus {
  border-color: var(--primess);
  border-radius: 0 0 10px 10px;
  cursor: text;
}

.login__form__btn {
  padding: 6px 18px;
  background-color: transparent;
  color: white;
  transition: 300ms ease;
  cursor: pointer;
}

.login__form__btn:hover {
  scale: 1.1;
  color: var(--primal);
}

.login__form-overlay {
  z-index: 98;
  background-color: transparent;
  filter: blur(3px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* signUp */

.signUp {
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease;
}

.signUp.signUpActive {
  visibility: visible;
  opacity: 1;
}

.signUp__container {
  padding: 0;
}

.signUp__row {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.signUp__form {
  position: relative;
}

.signUp__form__close {
  position: absolute;
  right: 30px;
  border: 1px dashed white;
  background-color: transparent;
  color: white;
  padding: 6px;
  transition: 400ms ease;
  cursor: pointer;
}
.signUp__form__close:hover {
  border-color: red;
}
.signUp__form-icon {
  transition: 400ms ease;
}
.signUp__form__close:hover .signUp__form-icon {
  scale: 1.3;
}

.signUp__form {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: black;
  padding: 30px;
  text-align: center;
  align-items: center;
  border: 1px dashed;
  border-radius: 60px 0 60px 0;
  border-left-color: var(--primal);
  border-right-color: var(--primal);
  border-top-color: yellow;
  border-bottom-color: white;
  transition: 600ms ease;
  z-index: 100;
}

.signUp__form:hover {
  border-radius: 0 60px 0 60px;
  border-left-color: white;
  border-right-color: white;
  border-top-color: var(--primal);
  border-bottom-color: var(--primal);
}

.signUp__form__title {
  max-width: 500px;
  font-weight: 300;
}

.signUp__form__input {
  width: 300px;
  max-width: 100%;
  height: 40px;
  padding: 10px;
  outline: none;
  border: 1px dashed white;
  border-radius: 10px 10px 0 0;
  background-color: transparent;
  color: white;
  transition: 600ms ease;
  cursor: pointer;
}

.signUp__form__span-2 {
  display: flex;
  gap: 10px;
  font-size: 15px;
}

.signUp__form__span-2__btn {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.signUp__form__input:hover {
  border-color: var(--primal);
  border-radius: 0;
}

.signUp__form__input:focus {
  border-color: var(--primess);
  border-radius: 0 0 10px 10px;
}
.signUp__form__input:focus {
  border-color: var(--primess);
  border-radius: 0 0 10px 10px;
}

.signUp__form__btn {
  padding: 6px 18px;
  background-color: transparent;
  color: white;
  transition: 300ms ease;
  cursor: pointer;
}

.signUp__form__btn:hover {
  scale: 1.1;
  color: var(--primal);
}

.signUp__form-overlay {
  z-index: 98;
  background-color: transparent;
  filter: blur(3px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* dashboard content */

.dashboard__nav {
  position: fixed;
  top: 30px;
  height: 60px;
  animation: fadeInAnimate 1000ms ease;
  z-index: 99;
  background-color: black;
}

.dashboard__nav__link-configure {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 70px;
  margin-left: 97px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: 300ms ease;
  padding-right: 20px;
}
.dashboard__nav__link-configure.popOut {
  visibility: visible;
  opacity: 1;
}
.dashboard__nav__settings,
.dashboard__nav__logout {
  padding: 8px 16px;
  border: 1px dashed white;
  background-color: transparent;
  color: white;
  transition: 300ms ease;
}

.dashboard__nav__logout {
  cursor: pointer;
}
.dashboard__nav__logout:hover {
  color: red;
  border-color: rgb(248, 121, 121);
}

.dashboard__nav__settings {
  cursor: not-allowed;
}

.dashboard__nav__logo {
  font-size: 26px;
}

.dashboard__nav__links {
  display: flex;
  gap: 40px;
  align-items: center;
}
.dashboard__nav__link {
  font-size: 15px;
  border-bottom: 1px dashed transparent;
}
.dashboard__nav__link:hover {
  border-bottom: 1px dashed white;
}

.dashboard__nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard__nav__profile {
  background-color: white;
  padding: 10px 20px;
  border-radius: 9999px;
  background-color: transparent;
  border: 1px dashed white;
  transition: 500ms ease;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.dashboard__nav__profile__close {
  position: absolute;
  border: 1px dashed white;
  font-size: 20px;
  top: 70px;
  margin-left: 191px;
  color: red;
  padding: 6px;
  z-index: 4;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease;
}
.dashboard__nav__profile__close:hover {
  color: rgb(248, 121, 121);
  border-color: rgb(248, 121, 121);
}
.dashboard__nav__profile__close.popUp {
  visibility: visible;
  opacity: 1;
}

.dashboard__nav__profile:hover {
  border-color: var(--primal);
  color: var(--primess);
}

/* dashboard header */

.dashboard__header__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard__header__row {
  display: flex;
  color: white;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-left: 1px dashed white;
  animation: slideUpAnimate 1000ms 500ms backwards;
}

.dashboard__header__subtitle {
  font-size: 15px;
  margin-bottom: 10px;
  animation: slideUpAnimate 1000ms 600ms backwards;
}

.dashboard__header__title {
  font-size: 99px;
  font-weight: 400;
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
  width: fit-content;
  margin-bottom: 16px;
  animation: slideUpAnimate 1000ms 800ms backwards;
}

.dashboard__header__para {
  font-size: 25px;
  margin-bottom: 8px;
  animation: slideUpAnimate 1000ms 900ms backwards;
}

.dashboard__header__span {
  color: white;
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 15px;
  animation: slideUpAnimate 1000ms 1000ms backwards;
}

.dashboard__header__primal {
  font-size: 15px;
  font-weight: 600;
  height: 100%;
  text-decoration: underline;
}
.dashboard__header__primal:hover {
  scale: none;
}

@keyframes fadeInAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUpAnimate {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Dashboard Main */

.dashboard__row {
  color: white;
  display: flex;
  justify-content: center;
  border: none;
}

.dashboard__chart {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 13px;
}

.dashboard__chart__title {
  font-size: 30px;
}

.dashboard__left,
.dashboard__right {
  width: 50%;
  border: 1px dashed white;
  padding: 30px;
  overflow: hidden;
}

.dashboard__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard__right__title {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 300;
}
.dashboard__right__subtitle {
  font-size: 30px;
  margin-bottom: 30px;
}

.dashboard__right-configuration {
  margin-top: 10px;
  border-top: 1px dashed white;
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.dashboard__right__input__wrapper {
  display: flex;
  gap: 64px;
}

.dashboard__right__input {
  padding: 6px;
  background-color: transparent;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dashed white;
  color: white;
  cursor: pointer;
  transition: 600ms ease;
}
.dashboard__right__input:focus {
  cursor: text;
  border-color: var(--primal);
}

.dashboard__right-select-category {
  width: 50%;
  padding: 6px;
  background-color: transparent;
  border: 1px dashed white;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
}
.dashboard__right-select-category__option {
  background-color: black;
}

.dashboard__right__add {
  color: white;
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 16px;
  transition: 400ms ease;
}
.dashboard__right__add:hover {
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.247);
  color: var(--primal);
  scale: 1.1;
}

.dashboard__expenses {
  border: 1px dashed white;
  border-top: none;
  width: 984px;
  margin: 0 auto;
  padding: 0 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 600ms ease;
}

.dashboard__expenses-header {
  display: flex;
  justify-content: space-between;
  width: 36%;
  margin-top: 20px;
  border-bottom: 1px dashed white;
  margin-bottom: 10px;
}

.dashboard__expenses-title {
  font-size: 30px;
  font-weight: 200;
}
.dashboard__expenses-btn {
  background-color: transparent;
  color: white;
  border: 1px dashed white;
  padding: 10px;
  border-bottom: none;
  transition: 400ms ease;
  cursor: pointer;
}
.dashboard__expenses-btn:hover {
  border-color: red;
}

h6 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 60px;
  border-bottom: 1px dashed white;
  padding-bottom: 3px;
}

/* expense */

.dashboard__expenses__list__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 20px;
  justify-content: center;
}
.dashboard__expenses.animateNow {
  border-color: var(--primal);
}

.dashboard__expenses {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dashed white;
}

.expense {
  color: white;
  display: flex;
  flex-direction: column;
  border: 1px dashed white;
  width: calc(25% / 90px);
  padding: 16px 32px;
  transition: 600ms ease;
  animation: slideUpAnimate 1000ms backwards;
  border-radius: 12px;
}

.expense-close {
  margin-top: 20px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  width: fit-content;
  align-self: center;
  transition: 400ms ease;
}

.expense-close:hover {
  color: rgb(248, 121, 121);
}

.expense:hover {
  scale: 1.1;
  border-radius: 0;
}

.expense__title {
  font-size: 20px;
  font-weight: 300;
  border-bottom: 1px dashed white;
  padding-bottom: 1px;
  margin-bottom: 10px;
  width: fit-content;
}

.expense__amount {
  color: white;
  border-bottom: 1px dashed white;
  padding-bottom: 1px;
  width: fit-content;
  margin-bottom: 10px;
}

.expense__para {
  border-bottom: 1px dashed white;
  width: fit-content;
  padding-bottom: 1px;
}

/* dashboard footer */

.dashboard__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard__footer-span {
  margin-bottom: 16px;
}

.dashboard__footer__title {
  color: white;
}

/* MEDIA QUERIEZ */


/* Laptops */

@media (max-width: 1024px) {
  /* dashboard nav */

  .dashboard__nav {
    padding: 0 20px;
  }

  /* dashboard header */

  .dashboard__header__row {
    align-items: center;
    text-align: center;
    border-left: none;
  }

  /* dashboard Footer */
  
  .dashboard__footer__xtra{
    max-width: 100%;
  }

  .dashboard__row__footer__row{
    padding: 0 80px;
  }

  /* dashboard nav profile configuration */

  .dashboard__nav__profile__close{
    margin-left: 50px;
  }



  /* LANDING */

  /* - nav */
  .nav__container{
    padding: 0 20px;
  }

  /* -header */
  .header__row{
    max-width: 80%;
  }

  /* - about */
  .about__left{
    width: 40%;
  }
  .about__para{
    font-size: 15px;
  }
  .about__right__img__wrapper{
    width: 40%;
  }
  .about__row{
    align-items: center;
    justify-content: center;
    width: fit-content;
    border: none;
  }

  /* footer */
  .footer-xtra{
    max-width: 80%;
    padding: 0 30px;
  }
}

/* tablets */

@media (max-width: 768px){

  /* dashboard main */

  .dashboard__row{
    flex-direction: column;
    align-items: center;
  }

  .dashboard__left,
  .dashboard__right{
    width: 100%;
  }



  /* LANDING */

  /* - about */
  .about__row{
    flex-direction: column;
    gap: 20px;
  }
  .about__left{
    width: 80%;
  }
}

/* Mobile L */

@media (max-width: 425px){
  /* dashboard nav */

  .dashboard__nav__link{
    display: none;
  }

  /* dashboard header */

  .dashboard__header__title{
    font-size: 60px;
  }

  /* dashboard__nav__link__configurations */

  .dashboard__nav__profile__close{
    margin-left: -60px;
  }

  .dashboard__nav__link-configure{
    margin-left: -10px;
  }



  /* LANDING */
  /* - nav */
  .nav__links{
    display: none;
  }

  /* - about */
  .about__right__img__wrapper{
    display: none;
  }
  .about__left{
    width: 100%;
    border: none;
    text-align: center;
  }

  /* - features */
  .feature{
    width: 80%;
    gap: 10px;
  }

  /* - footer */
  .footer__row{
    text-align: center;
  }

  .footer__buttons{
    flex-direction: column;
  }
}
